<div class="logo-container">
  <img src="/assets/images/ionic.png" alt="Ionic Logo" class="logo" />
</div>

<!-- Contenedor Scrollable -->
<div class="scroll-container">
  <div class="card">
    <img src="\assets\images\rajoy.png" alt="Reserva" class="card-img" />
    <div class="card-label">Rajoy</div>
  </div>
  <div class="card">
    <img src="/assets/images/zapatero.jpg" alt="Servicios" class="card-img" />
    <div class="card-label">Zapatero</div>
  </div>
  <div class="card">
    <img src="/assets/images/pedrito.jpg" alt="Mapa" class="card-img" />
    <div class="card-label">Pedro Sanchez</div>
  </div>
</div>
