<div class="logo-container">
  <img src="/assets/images/logo.png" alt="Camping Logo" class="logo" />
</div>

<!-- Contenedor Scrollable -->
<div class="scroll-container">
  <div class="card">
    <img src="\assets\images\rajoy.png" alt="Reserva" class="card-img" />
    <div class="card-label">Erreserbak</div>
  </div>
  <div class="card">
    <img src="/assets/images/zapatero.jpg" alt="Servicios" class="card-img" />
    <div class="card-label">Zerbitzuak</div>
  </div>
  <div class="card">
    <img src="/assets/images/mapa.jpg" alt="Mapa" class="card-img" />
    <div class="card-label">Mapa</div>
  </div>
</div>
